body {
  background-color:#121212;
  }

footer p {  
    margin-bottom: auto; 
 }

 .discordbutton {
    background-color: #7289DA; 
    color: white; 
  }
  
  .discordbutton:hover {
    background-color: #6070b1;
    color: white;
  }

  .redditbutton {
    background-color: #ff4500;
    color:white;
  }

  .redditbutton:hover {
    background-color: #b93100;
    color:white;
  }