body {
  background-color:#121212;
  }

footer p {  
    margin-bottom: auto; 
 }

 .discordbutton {
    background-color: #7289DA; 
    color: white; 
  }
  
  .discordbutton:hover {
    background-color: #6070b1;
    color: white;
  }

  .redditbutton {
    background-color: #ff4500;
    color:white;
  }

  .redditbutton:hover {
    background-color: #b93100;
    color:white;
  }
  .frost {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: .5rem;
}

.round-button-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align:center;
  background: white; 
}